html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
    background-color: grey;
}

.header {
    background-color: #34495E; /* Lighter matte navy shade */
    height: 21%; /* Adjust height as needed */
    width: 100%; /* Full width */
    color: white;
    font-size: 45px;
    text-align: center;
    padding-top: 20px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3); /* More noticeable Apple-like shadow */
}

#links {
    font-size: 20px;
    margin-top: 10px;
}

.separator {
    display: inline-block;
    width: 1px;
    height: 20px;
    background-color: white;
    margin: 0 10px;
    vertical-align: middle;
}

a {
    color: white;
}
